name: tp2
 
on:
  push:
    branches: 
      - tp2
    paths: 
      - 'malib.c'
      - 'malib.h'
      - 'tp2.c'
      - '.gitignore/workflows/tp2.yml'
      - 'ressources/10.txt'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
       
      - name: Get tcv
        run: make lib

      - name: Compiler malib
        run: gcc -Wall -Werror=vla -pedantic -std=c11  -c malib.c -o malib.o

      - name: Compiler tp2
        run: gcc -Wall -Werror=vla -pedantic -std=c11 tp2.c -o tp2 tcv.o malib.o -lm
        
      - name: Tester tp2
        run: cat ressources/entree01.txt | ./tp2
